---
import Layout from "../layouts/Layout.astro";
import { authors } from "../data/authors.json";
---

<Layout
	title={`Proposta de aplicativo para comercialização de produtos
		de agricultura orgânica`}
	current="home"
	displayHeader={true}
>
	<section class="section">
		<div class="wrapper">
			<div class="region flow-inline">
				<a download href="/poster_ihc2023.pdf" class="button" data-variant="dark">
					Baixar versão PDF do pôster
				</a>
				<a href="poster" class="button" data-variant="ghost">
					Ver pôster online
				</a>
			</div>
			<div class="region">
				<h2>Autores</h2>
			</div>
			<ul role="list" class="flow flow-space-2xl">
				{
					authors.map((author) => (
						<li>
							<h3>{author.name}</h3>
							{author.researchGroup ? (
								<p>{author.researchGroup}</p>
							) : null}
							<p>{author.institution}</p>
							<a href={`mailto:${author.email}`}>
								{author.email}
							</a>
						</li>
					))
				}
			</ul>
		</div>
	</section>
</Layout>
